<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".presentation.main.view.baseapplication.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/demo"
        android:label="DemoProject"
        android:roundIcon="@mipmap/demo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectDemo">
        <activity
            android:name=".presentation.main.view.activity.MovieActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>